/* @import url("https://fonts.cdnfonts.com/css/Gilroy"); */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



main {

    background: #FFFFFF;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

span {
    color: #005AE2;
}



/* Nav SECTION */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link1 {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.nav-link1 a {
    font-family: 'Gilroy';
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #141414;
}

.nav-link1 select {
    border: none;
    font-family: 'Gilroy';
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #141414;
    align-items: center;
    padding-right: 0.624rem;
}

.nav-link1 .color {
    color: #0065FE;
}

.nav-link2 {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-link2 a {
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.188rem;
    color: #0065FE;
}

.nav-link2 button {
    background: #0065FE;
    border-radius: 6.25rem;
    padding: 0.75rem 1.5rem;
    border: none;
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 0.75rem;
    color: #FFFFFF;
}





/* First Section */

.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.536rem;
    /* width: 59.25rem; */
   
    /* gap: 3rem; */
}

.first_section .text {
    margin: 0 auto;
    text-align: center;
    padding: 4rem 16rem 0;

}

.first_section .h1block {
    display: block;
    color: #141414;
}

.first_section .text h1 {
    font-family: 'Gilroy';
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
    color: #141414;
    margin-bottom: 0;
}

.first_section .text img {
    position: relative;
    bottom: 1.25rem;
}





.first_section .text P {
    font-family: 'Gilroy';
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: #141414;
    width: 48.813rem;
    align-items: center;
    margin: 0 auto;
}

.first_section .text .link {
   
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;

    
}

.first_section .text .link button {
    background: #0065FE;
    border-radius: 6.25rem;
    padding: 0.75rem 1.875rem;
    border: none;
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 0.75rem;
    color: #FFFFFF;
}

.first_section .text .link a {
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.188rem;
    color: #0065FE;
} 

/* First section positioning */

.positioning {
    position: relative;
    margin-top: 3.5rem;
}

.vector2 {
    width: 14.909rem;
    margin-right: 23.063rem;
}

.vector2 img {
    width: 100%;
}

.frame {
    display: flex;
    flex-direction: column;
    background: rgba(254, 254, 254, 0.1);
    border: 0.5px solid #005AE2;
    backdrop-filter: blur(106px);
    border-radius: 1.5rem;
    padding: 40px 60px;
    align-items: center;
    position: absolute;
    top: 10%;
    font-family: Gilroy;

}

.frame img {
    margin-right: 20.458rem;
}

.frame p {
    text-align: center;
    width: 55%;
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #141414;
}


/* Second section */

.second_section{
    & > div {
        display: flex;
        & > img {
            width: 100%;
        }
    }
}
.second_section .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 140px;
    background: #F9FBFD;
}

.second_section .text .first h2 {
    font-family: 'Gilroy';
    font-size: 40px;
    line-height: 3rem;
    color: #141414;
}

/* .second_section .text .first span {
    color: #005AE2;
} */

.second_section .text .second {
    display: flex;
    gap: 6.25rem;
}

.second_section .text .second h4 {
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 40px;
    color: #141414;
}

.second_section .text .second p {
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.5rem;
    color: #141414;
}


/* Third Section */

.third_section {
   display: flex;
   justify-content: space-between;
   margin-top: 136px;
   padding: 0 136.1px;
}

.third_section .left {
    width: 41.875rem;;
}

.third_section .left .up {
    display: flex;
    align-items: center;
    gap: 1rem;
   
}

.third_section .left .up h2 {
    font-family: 'Gilroy';
    font-size: 40px;
    line-height: 32px;
    color: #141414;

}

.third_section .left p {
    padding-left: 1.75rem;
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.75rem;
    color: #141414;
}

.third_section .right{
    width: 708px;
}

.third_section .right .up {
    display: flex;
    margin-bottom: 64px;
}

.third_section .right .down {
    display: flex;
}

.third_section .right h2 {
    padding: 40px 0 1rem;
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 1.75rem;
    color: #141414;

}

.third_section .right p {
    font-family: 'Gilroy';
    font-size: 1rem;
    line-height: 1.5rem;
    color: #141414;
    
}

/* FOURTH SECTION */

.fourth_section{
    margin-top: 11.875rem;
    display: flex;
    padding: 42px 176px 10.75rem 176px;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}

.fourth_section .first{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fourth_section .first .sub_title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fourth_section .first h2 {
    color: #141414;
    text-align: center;
    font-size: 40px;
    font-family: Gilroy;
    line-height: 3rem;
}

.fourth_section .first p {
    color:  #141414;
    text-align: center;
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 1.5rem;
}

.fourth_section .second {
    /* margin-top: 68px; */
    display: flex;
    
}

.second .card-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}


.fourth_section .second .card1  {
    display: inline-flex;
    padding: 1.5rem 98px 45px 87px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    border-radius: 0.75rem;
    border: 0.4px solid#005AE2;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    align-self: center;
    
}

.fourth_section .second .card2 {
    display: inline-flex;
    
    padding: 95px 106px 13rem 65px;
    /* padding: 1.5rem 98px 45px 87px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.75rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
}

.fourth_section .second .card3 {
    display: inline-flex;
    padding: 1.5rem 98px 45px 87px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    border-radius: 0.75rem;
    border: 0.4px solid#005AE2;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    align-self: center;

}

.fourth_section .second .card .F24 {
    color: #141414;
    text-align: center;
    font-size: 1.5rem;
    font-family: Gilroy;
    line-height: 32px;
}

.card1 p, .card3 p {
    color: var(--text-color-main-text, #141414);
    text-align: center;
    font-size: 1.25rem;
    font-family: Gilroy;
    line-height: 32px;
}



.card1 h3, .card3 h3 {
    color:#141414;
    text-align: center;
    font-size: 40px;
    font-family: Gilroy;
    line-height: 3rem;
}

.card1 .card-flex p, .card3 .card-flex p{
    color: #141414;
    text-align: center;
    font-size: 14px;
    font-family: Gilroy;
    line-height: 1.5rem;
}

.card2 :first-child {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-family: Gilroy;
    line-height: 32px;
}

.card2 h3 {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-size: 40px;
    font-family: Gilroy;
    line-height: 3rem;
}

.card2 p {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-size: 1.25rem;
    font-family: Gilroy;
    line-height: 32px;
}

.card2 .card-flex p {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-size: 14px;
    font-family: Gilroy;
    line-height: 1.5rem;
}

.fourth_section-button {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.fourth_section-button .no-bg-colour {
    padding: 0.75rem 1.5rem;
    justify-content: center;
    background-color: #FFF;
    align-items: center;
    color: var(--primary-300-base, #0065FE);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 0.75rem;
    border-radius: 6.25rem;
    border: 1px solid var(--primary-300-base, #0065FE);
}

.fourth_section-button .bg-colour {
    padding: 0.75rem 1.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    background: var(--primary-300-base, #0065FE);
    color: #FFF;
    color: var(--neutral-white, #FFF);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 0.75rem;
    border: none;

}

/* FORM SECTION */

.background-image1 {
    background-image: url(Assets/Images/Desktop\ -\ 11.svg);
    background-position: center center;
    background-size: cover;
    /* aspect-ratio: 16 / 9; */
    height: 523px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 83.5px 482px ;
}

.form {
    border-radius: 0.75rem;
    display: inline-flex;
    padding: 42px;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    width: 476px;
    align-items: center;
    
}

.input1 {
    width: 392px;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.75rem;
    border: 1px solid var(--primary-100, #3284FF);
}

.input1::placeholder {
    color: var(--primary-100, #3284FF);
    font-size: 0.75rem;
    font-family: Gilroy;
    line-height: 1.125rem;
}

.form select {
    width: 202px;
    padding: 8px 0.75rem;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid var(--primary-100, #3284FF);
    color: var(--primary-100, #3284FF);
    font-size: 14px;
    font-family: Gilroy;
    line-height: 0.75rem;
}



form div {
    display: flex;
    gap: 10px;
    
   
}

.input2 {
    padding: 0.75rem;
    width: 178px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.75rem;
    border: 1px solid #3284FF;
}

.input2::placeholder {
    color: var(--primary-100, #3284FF);
    font-size: 0.75rem;
    font-family: Gilroy;
    line-height: 1.125rem;
}

.form button {
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    background: var(--primary-400, #005AE2);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--neutral-white, #FFF);
    font-size: 14px;
    font-family: Gilroy;
    line-height: 0.75rem;

}

.form p {
    color: #4991FF;
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 1.25rem;
} 


/* FAQ SECTION */

#FAQ {
    position: relative;
}

.position-image1 {
    position: absolute;
    top: 1rem;
}

.position-image2 {
    position: absolute;
    bottom: 0;
    right:  0;
}

.FAQ-Section {
    display: flex;
    flex-direction: column;
    padding: 43px 31.5rem 155px;
    align-items: center;
}

.FAQ-Section .topic {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding-bottom: 64px;
}

.FAQ-Section .topic h2 {
    color: var(--text-color-main-text, #141414);
    font-size: 40px;
    font-family: Gilroy;
    line-height: 32px;
}

.accordion .container {
    position: relative;
    margin: 1.875rem 0;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.accordion .label p {
    color: var(--text-color-main-text, #141414);
    font-size: 1.25rem;
    font-family: Gilroy;
    line-height: 32px;
}

  
.accordion .label::before {
    content: '+';
    color: var(--text-color-main-text, #141414);
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 1.25rem;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 1.25rem;
    text-align: justify;
    width: 792px;
    overflow: hidden;
    transition: 0.5s;
}

.accordion .content p {
    color: var(--text-color-main-text, #141414);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 32px;
}

.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid #D6D6D6;
}

.accordion .container.active .content {
    height: 6.25rem;
}

.accordion .container.active .label::before {
    content: '-';
    font-size: 1.25rem;
}
  





/* SECTION BEFORE FOOTER */

.fifth_section {
    background-image: url(Assets/Images/Frame\ 1000001649.svg);
    background-position: center;
    background-size: cover;
    height: 299px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* align-items: center; */
    /* margin: auto; */

}

.fifth_section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.fifth_section h2 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-family: Gilroy;
    line-height: 3rem;
}

.fifth_section button{
    padding: 0.75rem 1.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    background: var(--primary-400, #005AE2);
    color: var(--neutral-white, #FFF);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 0.75rem;
    border: none;
    
}   

/* FOOTER SECTION */

#footerbackground {
    position: relative;
}

.footerimg1{
    position: absolute;
    bottom: 0;
}

.footerimg2 {
    position: absolute;
    bottom: 0;
    right:  0;
    z-index: 0;
}

.footer {
    display: flex;
    padding: 95px 203px 82px;
    justify-content: space-around;
    gap: 2.938rem;
    
}

.footer .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.footer .left .social-icons {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;
    
}

.footer .right {
    display: flex;
    flex-direction: column;
    width: 80.75rem;
    
}

.footer .right h4 {
    color: var(--neutral-900, #071827);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 1.5rem;
}

.footer .right p {
    color: var(--neutral-800, #112232);
    font-size: 1rem;
    font-family: Gilroy;
    line-height: 1.5rem;
}


.footer .right .up {
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
    
}

.footer .right .down {
    display: flex;  
}

.features {
    margin-left: 16.4rem;
}

.legal {
    margin-left: 15rem;
}

.footer-last {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 176.42px ;
    /* margin-bottom: 39px; */
}

.footer-last p {
    color: var(--neutral-800, #112232);
    font-size: 14px;
    font-family: Gilroy;
    line-height: 1.25rem;
}

.footer-last .term {
    display: flex;
    gap: 8px;
}


/* .footer .right .down .legal {
    padding-right: 185px;
}  */



